@model Assignment2.ContactModel;

<div class="container-fluid">
<h2>Contact Info</h2>
 <h4>first: @Model.FirstName</h3>
 <h4>last: @Model.LastName</h3>
 <h4>address: @Model.Address</h3>
 <h4>city: @Model.City</h3>
 <h4>state: @Model.State</h3>
 <h4>zip: @Model.Zip</h3>
</div>