@using Midterm
@model List<TestQuestionModel>
    @Html.ValidationSummary()
@*TODO: Form needs to use tag helpers to post to the "TakeTest" *@
<form  method="post" asp-action="TakeTest">
@Html.AntiForgeryToken()
@for (int i = 0; i < Model.Count; i++)
{
    if (Model[i] is TrueFalseQuestionModel)
    {
        <h2>@(i+1). @Model[i].Question</h2>
        <select asp-for="@Model[i].Answer" class="form-select">
            <option value="">--Select--</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    }
    else if (Model[i] is LongAnswerQuestionModel)
    {
        <h2>@(i+1). @Model[i].Question</h2>
        <textarea asp-for="@Model[i].Answer" class="form-control">

        </textarea>
    }
    else if (Model[i] is ShortAnswerQuestionModel)
    {
        <h2>@(i+1). @Model[i].Question</h2>
        <input asp-for="@Model[i].Answer" class="form-control"/>
    }
    else if (Model[i] is MultipleChoiceQuestionModel)
    {
        <h2>@(i+1). @Model[i].Question</h2>
        @foreach (var index in Model[i].Choices)
        {
            <input type="radio" class="form-check-input" type="radio" asp-for="@Model[i].Answer" 
            value="@index" id="Gender@(index)" /> @index<br />
        }
    }
    <partial name="_valid"for="@Model[i]"></partial>
    
}
<button type="submit" class="btn btn-primary" >Submit</button>
</form>